FinalGalaxyTable11.csv
FinalGalaxyTable11_filtered.dat
FinalGalaxyTable11_altNames.csv
FinalGalaxyTable11_altNames.dat
FinalGalaxyTable11_filtered_altNames.csv
FinalGalaxyTable11_filtered.csv
extincTables/
.DS_Store
